@font-face {
    font-family: 'Mark Pro';
    src:url(../fonts/Mark\ Pro.ttf);
}
*,::after,::before{
    box-sizing: border-box;
}
#contenido-arm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#contenido{
    width: 85%;
    margin-top: 2vh;
    text-align: justify;
}
#tabla-a{
    justify-content: center;
    margin-top: 4vh;
    border-collapse: collapse;
    padding: 0;
}
.filas-a{
    border: 4px solid white;
}
.filas-a a img{
    margin-bottom: -5px;
    filter: drop-shadow(1px 1px 8px #EDEDED);
}
.titulos-a{
    border: 4px solid #DA0037;
}
/*Estilo de las armas, tanto la imagen como el texto de la imagen son enlaces que cuando se pulsan se visualiza la informacion del arma*/
.columna{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    margin-bottom: 1.6rem;
}
.texto-medio{
    text-align: center!important;
}
.content-d{
    display: flex;
    align-items: center;
    min-height: 230px!important;
    width: 75%!important;
    margin-top: 1rem!important;
    border-top-left-radius: calc(0.35rem - 1px);
    border-top-right-radius: calc(0.35rem - 1px);
    background-color: #0e1629;
}
.content-d a{
    margin-left: auto!important;
    margin-right:auto!important;
}
.content-d a img{
    max-width: 80%;
    padding: 1.5rem;
}
.content-d a img:hover{
    -webkit-transform: scale(1.5); 
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    transition: 0.4s;
}
.texto-d{
    padding: 15px;
    background-color: #ece7db;
    border-bottom: 6px solid #DA0037;
    max-width: 75%;
    color: #131824;
}
.texto-d h3 a{
    text-decoration: none;
    color: #131824;
}
.general{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 2vh;
    min-height: 230px!important;
    width: 80%;
    margin-bottom: 1.6rem;
}
.armas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-left: 14vh;
    margin-top: 2vh;
}
.f1{
    display: flex;
    min-width: 115%;
    flex-direction: row;
}
.f2{
    display: flex;
    min-width: 115%;
    flex-direction: row;
}
.f3{
    display: flex;
    min-width: 115%;
    flex-direction: row;
}
.f4{
    display: flex;
    min-width: 115%;
    flex-direction: row;
}
.f5{
    display: flex;
    min-width: 115%;
    flex-direction: row;
}
.f6{
    display: flex;
    min-width: 115%;
    flex-direction: row;
}
/*Estilos generales de los div de las armas*/
.imagen-arma-c{
    margin-top: 2em;
    margin-left: 3em;
    width: 26.25%;
}
.stats h2{
    width: fit-content;
    margin-left: 3em;
}
h1{
    margin-top: 0.4em;
    margin-left: 3em;
    font-size: 2.3em;
    width: fit-content;
}
.minititulos{
    font-size: 1.2em;
    color: #DA0037;
}
.stats{
    margin-top: 1em;
    line-height: 1.6;
}
.stats:hover{
    cursor: default;
}
.stats .estadisticas{
    margin-left: 6em;
    width: 27%;
}
.da単o{
    margin-left: 5.8em;
    text-align: right;
    line-height: 2;
    width: 22.7%;
}
.stats table{
    border-collapse: separate;
    border-spacing: 0.7em;
    margin-top: 0.5em;
    margin-left: 5em;
}
.stats table tr:first-child td{
    text-align: center;
}
.info{
    display: flex;
    text-align: justify;
    width: 50%;
    align-items: flex-start;
    margin-top: -53em;
    margin-left: 29em;
    line-height: 1.5;
}
.stats table tr:not(:first-child) td:nth-child(2):not(:empty) {
    background-color: #c8f5de;
    color: #131824;
    width: 15vh;
    text-align: center;
    empty-cells: hide;
}
.stats table tr:not(:first-child) td:nth-child(3):not(:empty) {
    background-color: #c8f5de;
    color: #131824;
    width: 15vh;
    text-align: center;
    empty-cells: hide;
}
.stats table tr:not(:first-child) td:nth-child(4):not(:empty) {
    background-color: #c8f5de;
    color: #131824;
    width: 15vh;
    text-align: center;
    empty-cells: hide;
}
.icono-volver box-icon{
    margin-top: 1.4em;
    margin-left: 2em;
    border: 1px solid white;
    border-radius: 50%;
}
/*Div de las armas para aplicarles despues la funcion de javascript*/
#classic{
    display: none;
    scroll-behavior: smooth;
}
#shorty{
    display: none;
    scroll-behavior: smooth;
}
#frenzy{
    display: none;
    scroll-behavior: smooth;
}
#ghost{
    display: none;
    scroll-behavior: smooth;
}
#sheriff{
    display: none;
    scroll-behavior: smooth;
}
#stinger{
    display: none;
    scroll-behavior: smooth;
}
#spectre{
    display: none;
    scroll-behavior: smooth;
}
#bucky{
    display: none;
    scroll-behavior: smooth;
}
#judge{
    display: none;
    scroll-behavior: smooth;
}
#bulldog{
    display: none;
    scroll-behavior: smooth;
}
#guardian{
    display: none;
    scroll-behavior: smooth;
}
#phantom{
    display: none;
    scroll-behavior: smooth;
}
#vandal{
    display: none;
    scroll-behavior: smooth;
}
#marshal{
    display: none;
    scroll-behavior: smooth;
}
#operator{
    display: none;
    scroll-behavior: smooth;
}
#ares{
    display: none;
    scroll-behavior: smooth;
}
#odin{
    display: none;
    scroll-behavior: smooth;
}
#cac{
    display: none;
    scroll-behavior: smooth;
}
/*Mediaqueries*/
@media screen and (max-width:320px){
    .armas{
        width: 90%;
    }
    .f1{
        margin-top: -2vh;
        min-width: fit-content;
        margin-left: -7vh;
        flex-direction: column;
    }
    .f1 .general{
        min-width: 120%;
        margin-top: 7vh;
        margin-left: -2vh;
    }
    .f2{
        min-width: fit-content;
        margin-left: -7vh;
        flex-direction: column;
    }
    .f2 .general{
        min-width: 120%;
        margin-top: 7vh;
        margin-left: -2vh;
    }
    .f3{
        min-width: fit-content;
        margin-left: -7vh;
        flex-direction: column;    
    }
    .f3 .general{
        min-width: 120%;
        margin-top: 7vh;
        margin-left: -2vh;
    }
    .f4{
        min-width: fit-content;
        margin-left: -7vh;
        flex-direction: column;    
    }
    .f4 .general{
        min-width: 120%;
        margin-top: 7vh;
        margin-left: -2vh;
    }
    .f5{
        min-width: fit-content;
        margin-left: -7vh;
        flex-direction: column;    
    }
    .f5 .general{
        min-width: 120%;
        margin-top: 7vh;
        margin-left: -2vh;
    }
    .f6{
        min-width: fit-content;
        margin-left: -7vh;
        flex-direction: column;
        margin-bottom: 2vh;  
    }
    .f6 .general{
        min-width: 120%;
        margin-top: 7vh;
        margin-left: -2vh;
    }
    /*Estilos dentro de los enlaces de las armas*/
    #classic{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #shorty{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #frenzy{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #ghost{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #sheriff{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #stinger{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #spectre{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #bucky{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #judge{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #bulldog{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #guardian{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #phantom{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #vandal{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #marshal{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #operator{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #ares{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #odin{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #cac{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    div h1{
        margin-left: 0;
    }
    .imagen-arma-c{
        width: 100%;
        margin-left: 0;
    }
    .stats{
        max-width: 100%;
    }
    .stats h2{
        margin-left: 0;
    }
    .estadisticas{
        min-width: 100%;
        margin-left:0.5%!important;
        margin-right: 0.5%!important;
        font-size: 0.9rem;
    }
    .da単o{
        min-width: 96%;
        margin: 0;
        font-size: 0.9rem;
    }
    .stats table{
        width: 100%;
        margin-left: 0;
        padding-bottom: 3vh;
    }
    .icono-volver box-icon{
        margin-left: 1vh;
    }
}
@media screen and (min-width:321px) and (max-width:768px){
    .armas{
        width: 90%;
    }
    .f1{
        margin-top: -2vh;
        min-width: fit-content;
        margin-left: -7vh;
        flex-direction: column;
    }
    .f1 .general{
        min-width: 120%;
        margin-top: 7vh;
        margin-left: -2vh;
    }
    .f2{
        min-width: fit-content;
        margin-left: -7vh;
        flex-direction: column;
    }
    .f2 .general{
        min-width: 120%;
        margin-top: 7vh;
        margin-left: -2vh;
    }
    .f3{
        min-width: fit-content;
        margin-left: -7vh;
        flex-direction: column;    
    }
    .f3 .general{
        min-width: 120%;
        margin-top: 7vh;
        margin-left: -2vh;
    }
    .f4{
        min-width: fit-content;
        margin-left: -7vh;
        flex-direction: column;    
    }
    .f4 .general{
        min-width: 120%;
        margin-top: 7vh;
        margin-left: -2vh;
    }
    .f5{
        min-width: fit-content;
        margin-left: -7vh;
        flex-direction: column;    
    }
    .f5 .general{
        min-width: 120%;
        margin-top: 7vh;
        margin-left: -2vh;
    }
    .f6{
        min-width: fit-content;
        margin-left: -7vh;
        flex-direction: column;
        margin-bottom: 2vh;  
    }
    .f6 .general{
        min-width: 120%;
        margin-top: 7vh;
        margin-left: -2vh;
    }
    /*Estilos dentro de los enlaces de las armas*/
    #classic{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #shorty{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #frenzy{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #ghost{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #sheriff{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #stinger{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #spectre{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #bucky{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #judge{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #bulldog{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #guardian{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #phantom{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #vandal{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #marshal{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #operator{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #ares{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #odin{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #cac{
        display: none;
        scroll-behavior: smooth;
        width: 90%;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    div h1{
        margin-left: 0;
    }
    .imagen-arma-c{
        width: 100%;
        margin-left: 0;
    }
    .stats{
        max-width: 100%;
    }
    .stats h2{
        margin-left: 0;
    }
    .estadisticas{
        min-width: 100%;
        margin-left:0.5%!important;
        margin-right: 0.5%!important;
        font-size: 0.9rem;
    }
    .da単o{
        min-width: 96%;
        margin: 0;
        font-size: 0.9rem;
    }
    .stats table{
        width: 100%;
        margin-left: 0;
        padding-bottom: 3vh;
    }
    .icono-volver box-icon{
        margin-left: 1vh;
    }
    .info{
        display:none;
}
@media screen and (min-width:769px) and (max-width:1024px){
    .armas{
        width: 90%;
        margin-left: -5vh;
    }
    .imagen-arma-c{
        width: 30vw;
    }
    .stats{
        max-width: 100%;
    }
    .estadisticas{
        min-width: 100%;
        margin-left:5%!important;
        margin-right: 5%!important;
        font-size: 0.9rem;
    }
    .da単o{
        min-width: 37%;
        margin: 0;
        font-size: 0.9rem;
    }
    .stats table{
        width: 35%;
        margin-left: 5%;
        padding-bottom: 3vh;
    }
    .icono-volver box-icon{
        margin-left: 5vh;
    }
    .info{
        padding-top: 10vw;
        margin-left: 25em;
        width: 40vw;
    }
}
/*Style when menu it's on*/
.enlaces-menu.activado{
    display: flex;
    animation: muestraMenu 350ms ease-in-out both;
}
/*Bars when menu's on*/
.br-1.animado{
    transform: rotate(-45deg) translate(-10px,8px);
}
.br-2.animado{
    opacity: 0;
}
.br-3.animado{
    transform: rotate(45deg) translate(-10px,-8px);
}
